/* 모바일용 */
@media (max-width:800px) {
    .pc{
        display: none !important;
    }
    .wrap{
        width: 94.44444444444444%;
    }
    .sc{
        width: 100%;
        height: 1000px;
        display: none;
        background: rgba(0,0,0,0.8);
        position: absolute;
        z-index: 10;
    }
    header{
        background: none;
    }
    header .up{
        border-bottom: 1px solid #ddd;
    }
    header .up .wrap{
        height: 27px;
    }
    header .up .wrap .text p{
        font-size: 13px;
    }
    header .up .wrap .center{
        position: absolute;
        top: 106px;
        left: -10px;
        background: rgba(0,0,0,0.8);
        width: calc(100% + 20px);
        height: 140px;
        padding: 50px 0;
        display: none;
        z-index: 99998;
    }
    header .up .wrap .center .search{
        width: 310px;
        border-radius: 0;
        text-align: left;
        margin: 0 auto;
        display: block;
        background: #fff;
    }
    header .up .wrap .center .search select{
        padding: 0 16px 0;
    }
    header .up .wrap .center .search input{
        padding: 0 0 0 10px;
        width: 165px;
    }
    header .up .wrap .center .search button{
        position: static;
        background: #006bb7;
        width: 45px;
        height: 36px;
        float: right;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
    }
    header .up .wrap .center .search button p{
        color: #fff;
        font-weight: bold;
    }
    header .up .wrap nav{
        background: #333842;
        position: absolute;
        top: 0;
        right: -10px;
        width: 314px;
        z-index: 99999;
        text-align: center;
        display: none;
    }
    header .up .wrap nav .mob{
        position: relative;
    }
    header .up .wrap nav .mob .logo img{
        height: 36px;
        margin-top: 30px;
    }
    header .up .wrap nav .mob .close{
        position: absolute;
        top: 16px;
        right: 16px;
    }
    header .up .wrap nav ul{
        float: none;
        display: inline-block;
    }
    header .up .wrap nav .snb{
        margin-right: 0;
        margin-top: 20px;
    }
    header .up .wrap nav .snb li{
        font-size: 14px;
        color: #fff;
    }
    header .up .wrap nav .sns{
        margin: 20px 0;
    }
    header .up .wrap nav .sns li{
        margin-right: 14px;
    }
    header .down .wrap{
        height: 69px;
        display: flex;
    }
    header .down .wrap h1{
        padding: 12px 0;
        width: 200px;
        background: url(../images/bg_season_mo.png) no-repeat left bottom/contain;
        display: inline-block;
    }
    header .down .wrap h1 a img{
        height: 44px;
    }
    header .down .wrap .gnb{
        display: none;
        width: 314px;
        height: 100%;
        position: absolute;
        top: 160px;
        right: -10px;
        z-index: 99999;
        background: #333842;
        padding-bottom: 600px;
    }
    header .down .wrap .gnb li{
        float: none;
        font-size: 18px;
        color: #fff;
        background: #24262f;
        text-align: left;
        border-top: 1px solid #111;
    }
    header .down .wrap .gnb li:last-child{
        border-bottom: 1px solid #111;
    }
    header .down .wrap .gnb li a{
        padding-left: 22px;
        line-height: 55px;
    }
    header .down .wrap .gnb li a:focus, header .down .wrap .gnb li a:hover{
        background: #1e70ec;
        color: #fff;
    }
    header .down .wrap .gnb li .depth1{
        background: #fff;
        width: 314px;
        position: static;
        display: block;
        padding: 0;
    }
    header .down .wrap .gnb li .depth1 li{
        width: 100%;
        font-size: 17px;
        background: #fff;
        border-top: 1px solid #ccc;
        padding: 0;
    }
    header .down .wrap .gnb li .depth1 li:last-child{
        border-bottom: 1px solid #ccc;
    }
    header .down .wrap .gnb li .depth1 li a{
        border: none;
        padding-left: 20px;
        font-weight: 400;
        margin: 0;
        color: #222;
        background: #fff;
    }
    header .down .wrap .gnb li .depth1 li ul{
        display: none;
        padding: 10px 0;
        background: #f1f1f1;
        border-top: 1px solid #ccc;
    }
    header .down .wrap .gnb li .depth1 li ul li:before{
        display: none;
    }
    header .down .wrap .gnb li .depth1 li ul li{
        width: 100%;
        padding: 0;
        border: none;
        background: #f1f1f1;
    }
    header .down .wrap .gnb li .depth1 li ul li:last-child{
        border: none;
    }
    header .down .wrap .gnb li .depth1 li ul li a{
        border: none;
        padding: 0 20px;
        font-weight: 400;
        line-height: 35px;
        background: #f1f1f1;
        font-size: 15px;
    }
    header .down .wrap .gnb li .depth1 li ul li a:before{
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #888;
        position: relative;
        top: -4px;
        margin-right: 8px;
    }
    header .down .wrap .gnb li .depth1 li ul li img{
        margin-top: 12px;
    }
    header .down .wrap .button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90px;
    }
    header .down .wrap .button a{
        width: 40px;
        height: 40px;
        background: #ecf1f4;
        border-radius: 100%;
        text-align: center;
    }
    header .down .wrap .button a img{
        margin-top: 8px;
    }
    header .down .wrap .button .site:link, header .down .wrap .button .site:visited{
        width: 40px;
        height: 40px;
        margin-top: 0;
    }

    footer .wrap .up div{
        float: none;
    }
    footer .wrap .up div a{
        width: 48%;
    }
    footer .wrap .up div a:first-child{
        margin-left: 0;
    }
    footer .wrap .up ul li{
        font-size: 14px;
    }
    footer .wrap .down{
        padding: 20px 0 30px 0;
        display: block;
    }
    footer .wrap .down .rt{
        margin-top: 30px;
    }
    footer .wrap .down .rt a{
        margin-left: 0;
        margin-right: 50px;
    }
    footer .wrap .down .rt a:first-child img{
        padding-top: 5px;
    }

    /* index */
    #main{
        background: url(../images/bg_01.jpg) no-repeat center/cover;
        padding: 25px 0;
    }
    #main .wrap{
        flex-direction: column;
    }
    #main .wrap .slide{
        margin: 0 0 15px 0;
        width: 100%;
        overflow: hidden;
    }
    #main .wrap .slide ul{
        position: relative;
    }
    #main .wrap .slide ul li{
        height: 220px;
    }
    #main .wrap .slide .btn{
        width: 150px;
        height: 35px;
        padding: 0 12px;
    }
    #main .wrap .slide .btn .prev{
        width: 15px;
        background-position: left;
    }
    #main .wrap .slide .btn .num{
        padding-bottom: 4px;
    }
    #main .wrap .slide .btn .stop{
        width: 30px;
        height: 30px;
    }
    #main .wrap .slide .btn .next{
        width: 15px;
        background-position: right;
    }
    #main .wrap .cont{
        width: 100%;
        margin: 0 0 15px 0;
        padding: 10px;
    }
    #main .wrap .cont .img a p{
        font-size: 14px;
        padding: 14px 10px;
        letter-spacing: -1px;
    }
    #main .wrap .fact{
        width: 100%;
        text-align: center;
        height: 175px;
    }
    #main .wrap .fact .back{
        width: 200px;
        height: 400px;
        right: 70px;
    }
    #main .wrap .fact a{
        padding-top: 20px;
    }
    #main .wrap .fact a .hash{
        width: 30px;
        height: 30px;
        background: #a0c0e7 url(../images/banner_hash.png) no-repeat center/20px;
    }
    #main .wrap .fact a img{
        width: 190px;
    }
    #main .wrap .fact a p{
        margin-top: 10px;
        font-size: 13px;
        font-weight: 300;
    }
    #main .wrap .fact a .next{
        width: 40px;
        height: 20px;
        border-radius: 10px;
        background: #00337f url(../images/more_arr_02.png) no-repeat center;
        margin: 10px auto 0;
    }

    #con1{
        padding: 40px 0 16px;
    }
    #con1 .wrap{
        flex-direction: column;
    }
    #con1 .wrap .dep1{
        width: 100%;
        margin-bottom: 24px;
        height: 100%;
    }
    #con1 .wrap .dep1 .deu1{
        padding: 10px;
        width: 100%;
    }
    #con1 .wrap .dep1 .deu1 .del1{
        width: 100%;
        height: 360px;
        border: none;
        margin-bottom: 20px;
    }
    #con1 .wrap .dep1 .deu1 .del1 > .none{
        display: block;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dea1{
        line-height: 50px;
        border-radius: 0;
        padding-left: 8px;
        left: 0;
        width: 100%;
        font-size: 15px;
        background: linear-gradient(90deg, rgba(61,63,180,1) 0%, rgba(31,104,178,1) 100%);
        color: #fff;
    }
    #con1 .wrap .dep1 .deu1 .active1 .dea1:after{
        display: none;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2{
        position: relative;
        width: 100%;
        padding: 0;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2{
        padding-top: 5px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2{
        float: left;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2:after{
        margin: 0 0 0 6px;
        top: 12px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dea2{
        font-size: 16px;
        line-height: 46px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .more{
        position: absolute;
        top: 20px;
        right: 0;
        font-weight: 200;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3{
        padding: 0;
        top: 50px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit{
        padding: 0 10px 16px;
        flex-direction: column;
        align-items: end;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .det1{
        width: 100%;
        padding: 0 10px 0 0;
        margin-bottom: 16px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .det1 .head{
        line-height: 50px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .det1 .text{
        line-height: 14px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .cal{
        margin-right: 8px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .cal .yymmdd{
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .det2{
        line-height: 1;
        height: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        border-bottom: 1px solid #eee;
        padding: 15px 5px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .det2 .text{
        margin-bottom: 10px;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .det2:hover .text{
        text-decoration: underline;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 a:nth-child(2){
        border-bottom: 1px solid #eee;
    }
    #con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .det2 .yymmdd{
        font-size: 14px;
        font-weight: 400;
        padding-top: 3px;
        color: #888;
    }
    #con1 .wrap .slide{
        width: 100%;
        margin-bottom: 24px;
    }
    #con1 .wrap .slide .text{
        margin-bottom: 14px;
    }
    #con1 .wrap .slide ul{
        position: relative;
    }
    #con1 .wrap .slide ul li a p{
        padding: 10px;
    }
    #con1 .wrap .plaza{
        width: 100%;
        margin-bottom: 24px;
    }
    #con1 .wrap .plaza .text{
        margin-bottom: 14px;
    }

    #con2{
        height: 771px;
    }
    #con2 .wrap{
        display: block;
    }
    #con2 .wrap .tit{
        width: 100%;
        padding-top: 40px;
    }
    #con2 .wrap .tit .hash{
        display: inline-block;
    }
    #con2 .wrap .tit a{
        margin: 0;
        display: inline-block;
        font-size: 22px;
    }
    #con2 .wrap .tit .toge{
        margin-top: 10px;
        left: 0;
    }
    #con2 .wrap .tit .toge img{
        width: 60%;
    }
    #con2 .wrap .slide{
        width: 100%;
        padding: 64px 0 30px;
        top: -40px;
    }
    #con2 .wrap .slide .btn{
        top: 3px;
    }
    #con2 .wrap .slide .btn a{
        width: 30px;
        height: 30px;
        margin-left: 4px;
    }
    #con2 .wrap .slide ul{
        width: 600%;
        position: relative;
    }
    #con2 .wrap .slide ul li{
        width: 16.66666666666667%;
        float: left;
        margin-right: 0;
    }
    #con2 .wrap .slide ul li a .text{
        background: #fff;
        padding: 20px 20px 16px 16px;
        height: 75px;
    }
    #con2 .wrap .appl{
        width: 100%;
        height: 288px;
        position: relative;
        top: -40px;
    }
    #con2 .wrap .appl a{
        padding: 20px 15px 15px 15px;
        height: 145px;
    }
    #con2 .wrap .appl a h3{
        font-size: 15px;
        margin-bottom: 10px;
    }
    #con2 .wrap .appl a p{
        font-size: 14px;
    }
    #con2 .wrap .appl a .more{
        width: 28px;
        height: 28px;
        border-radius: 100%;
        background: #355cb8 url(../images/more_arr_02.png) no-repeat center;
        margin-top: 20px;
        position: relative;
        left: -28px;
        opacity: 0;
    }

    #con3{
        padding: 25px 0;
    }
    #con3 .wrap .tit{
        width: 100%;
        padding: 21px 0 15px 16px;
        margin-bottom: 14px;
    }
    #con3 .wrap .tit:after{
        content: '';
        width: 140px;
        height: 122px;
        background: url(../images/minister.png) no-repeat center/contain;
    }
    #con3 .wrap .tit .link a{
        display: block;
    }
    #con3 .wrap .tit .link a:first-child{
        margin-bottom: 5px;
    }
    #con3 .wrap ul{
        float: right;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #con3 .wrap ul:after{
        display: none;
    }
    #con3 .wrap ul li{
        width: 100%;
    }
    #con3 .wrap ul li a{
        padding: 11px 12px;
        font-size: 16px;
        background: url(../images/svc_arr.png) no-repeat right 16px center;
    }
    #con3 .wrap ul li a img{
        margin-right: 10px;
    }

    #con4{
        padding: 25px 0;
    }
    #con4 .wrap{
        flex-wrap: wrap;
    }
    #con4 .wrap a{
        width: 165px;
        height: 124px;
        background: #fff;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    #con4 .wrap a .img{
        margin-bottom: 0;
        height: 80px;
    }
    #con4 .wrap a .img img{
        padding: 9px 0 0 0;
    }

    #con5 .wrap{
        overflow: hidden;
    }
    #con5 .wrap .btn{
        width: 27.94117647058824%;
    }
    #con5 .wrap .ban{
        width: 64.70588235294118%;
        position: relative;
        left: 10px;
        overflow: hidden;
    }
    #con5 .wrap .ban ul{
        width: 700%;
        position: relative;
        left: 0;
        justify-content: start;
    }
    #con5 .wrap .ban ul li{
        width: 14.28571428571429%;
    }
    #con5 .wrap .ban ul li a{
        width: 100%;
    }
    #con5 .wrap .ban ul li a img{
        width: 167px;
        height: 100%;
    }

    #news{
        padding-top: 45px;
        background: none;
    }
    #news .wrap .det{
        float: none;
        width: 100%;
        padding: 0 0 40px 0;
    }
    #news .wrap .det .top{
        margin-bottom: 49px;
    }
    #news .wrap .det .top .tit{
        width: 100%;
        padding-bottom: 10px;
    }
    #news .wrap .det .top .tit h3{
        font-size: 26px;
    }
    #news .wrap .det .top .sub{
        padding-top: 20px;
    }
    #news .wrap .det .mid{
        padding: 28px 20px 25px 20px;
    }
    #news .wrap .det .mid select{
        width: 300px;
    }
    #news .wrap .det .mid .fid{
        margin-bottom: 10px;
    }
    #news .wrap .det .mid .fid p:nth-of-type(2){
        margin-top: 10px;
    }
    #news .wrap .det .mid .fid select{
        margin: 0;
    }
    #news .wrap .det .mid .fid input{
        margin-left: 0;
        width: 300px;
    }
    #news .wrap .det .mid a{
        width: 300px;
        font-size: 14px;
    }
    #news .wrap .det .mid .date p{
        margin-right: 0;
    }
    #news .wrap .det .mid .date input{
        width: 300px;
    }
    #news .wrap .det .mid .subject{
        margin-top: 10px;
    }
    #news .wrap .det .mid .subject input:nth-child(2),#news .wrap .det .mid .subject input:nth-child(4){
        top: 0;
        margin-right: 0;
    }
    #news .wrap .det .mid .subject p:nth-child(3),#news .wrap .det .mid .subject p:nth-child(5){
        margin-right: 50px;
        position: relative;
        top: -13px;
    }
    #news .wrap .det .mid .subject p:first-child{
        margin-right: 0;
        width: 100%;
    }
    #news .wrap .det .mid .subject input:nth-child(6){
        width: 300px;
    }
    #news .wrap .det .bot .text div:nth-child(2){
        border-top: 2px solid #004489;
    }
    #news .wrap .det .bot .text div{
        display: block;
        text-align: left;
        border-bottom: 1px solid #bbb;
        font-size: 14px;
        position: relative;
    }
    #news .wrap .det .bot .text div p{
        padding: 13px 0;
        border-bottom: 1px dotted #bbb;
        padding-left: 88px;
    }
    #news .wrap .det .bot .text div p:last-child{
        border: none;
    }
    #news .wrap .det .bot .text div p:before,#news .wrap .det .bot .text div a:before{
        width: 70px;
        height: 23px;
        display: block;
        border-radius: 11px;
        background: #eee;
        color: #333;
        position: absolute;
        left: 6px;
        text-align: center;
        font-weight: 500;
    }
    #news .wrap .det .bot .text .num{
        width: 100%;
    }
    #news .wrap .det .bot .text .num:before{
        content: '번호';
    }
    #news .wrap .det .bot .text .tit{
        width: 100%;
        padding: 13px 0;
        border-bottom: 1px dotted #bbb;
        display: block;
        padding-left: 88px;
    }
    #news .wrap .det .bot .text .tit:before{
        content: '제목';
    }
    #news .wrap .det .bot .text .field{
        width: 100%;
    }
    #news .wrap .det .bot .text .field:before{
        content: '분야';
    }
    #news .wrap .det .bot .text .date{
        width: 100%;
    }
    #news .wrap .det .bot .text .date:before{
        content: '등록일';
    }
    #news .wrap .det .bot .text .chk{
        width: 100%;
    }
    #news .wrap .det .bot .text .chk:before{
        content: '조회수';
    }
    #news .wrap .det .index{
        text-align: left;
        width: 100%;
        padding: 0 55px;
    }
    #news .wrap .det .index a{
        margin: 5px 2px;
    }
    #news .wrap .det .index .prev{
        position: absolute;
        left: 0;
        top: 20px;
    }
    #news .wrap .det .index .num{
        text-align: center;
    }
    #news .wrap .det .index .next{
        right: -20px;
        top: 20px;
    }
    #news .wrap .det .open{
        padding: 25px 25px 22px;
        display: block;
        width: 100%;
    }
    #news .wrap .det .open .lt{
        margin-bottom: 20px;
    }
    #news .wrap .det .open .rt p:before{
        left: -12px;
        margin-right: -4px;
    }
    #news .wrap .det .open .rt p{
        padding-left: 12px;
    }

    #nation{
        padding-top: 45px;
        background: none;
    }
    #nation .wrap .det{
        float: none;
        width: 100%;
        padding: 0 0 40px 0;
    }
    #nation .wrap .det .top{
        margin-bottom: 49px;
    }
    #nation .wrap .det .top .tit{
        width: 100%;
        padding-bottom: 10px;
    }
    #nation .wrap .det .top .tit h3{
        font-size: 26px;
    }
    #nation .wrap .det .top .sub{
        padding-top: 20px;
    }
    #nation .wrap .det .mid .text{
        padding: 0 20px;
        display: flex;
        position: relative;
    }
    #nation .wrap .det .mid .subm select{
        width: 100%;
        height: 42px;
        border: 1px solid #ddd;
        padding-left: 10px;
    }
    #nation .wrap .det .mid .text{
        background: #f6f6f6;
        margin-top: 15px;
        padding: 20px 30px;
    }
    #nation .wrap .det .mid .text p{
        line-height: 1.6;
        padding: 0;
    }
    #nation .wrap .det .mid .text .border{
        bottom: 0;
    }
    #nation .wrap .det .bot{
        margin-top: 45px;
        overflow-y: scroll;
    }
    #nation .wrap .det .bot .sech{
        padding: 10px;
    }
    #nation .wrap .det .bot .sech .tit{
        display: block;
    }
    #nation .wrap .det .bot .sech .tit select{
        width: 71px;
        font-size: 14px;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    #nation .wrap .det .bot .sech .tit input{
        width: 235px;
        background: #fff;
        padding-left: 10px;
    }
    #nation .wrap .det .bot .sech .tit a{
        width: 90px;
        font-size: 14px;
    }
    #nation .wrap .det .bot .sech .tit .sear{
        margin-left: 32px;
    }
    #nation .wrap .det .bot .sech .set p{
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0;
        margin-right: 23px;
    }
    #nation .wrap .det .bot .sech .set p:after{
        display: none;
    }
    #nation .wrap .det .bot .sech .set .date{
        margin-bottom: 20px;
    }
    #nation .wrap .det .bot .sech .set .date .d{
        width: 199px;
        margin-bottom: 10px;
    }
    #nation .wrap .det .bot .sech .set .date input:nth-of-type(2){
        margin: 0 0 0 86px;
    }
    #nation .wrap .det .bot .sech .set .date input:nth-of-type(3){
        margin-left: 86px;
    }
    #nation .wrap .det .bot .sech .set .date input:nth-of-type(6){
        margin-left: 86px;
    }
    #nation .wrap .det .bot .sech .set .date span{
        font-size: 14px;
    }
    #nation .wrap .det .bot .sech .set .cla{
        margin-bottom: 20px;
    }
    #nation .wrap .det .bot .sech .set .cla select{
        width: 159px;
    }
    #nation .wrap .det .bot .sech .set .deb select{
        width: 199px;
        margin-bottom: 10px;
    }
    #nation .wrap .det .bot .sech .set .deb select:nth-of-type(2){
        margin-left: 85px;
    }
    #nation .wrap .det .bot .sech .set .deb select:nth-of-type(3){
        margin-left: 85px;
    }
    #nation .wrap .det .bot .title{
        width: 330px;
    }
    #nation .wrap .det .bot .title > a{
        width: 110px;
        line-height: 47px;
        font-size: 15px;
    }
    #nation .wrap .det .bot .title .main{
        top: 77px;
    }
    #nation .wrap .det .bot .title .main .list{
        margin-bottom: 20px;
    }
    #nation .wrap .det .bot .title .main .list .lt{
        margin-bottom: 20px;
    }
    #nation .wrap .det .bot .title .main .list .lt a{
        font-size: 15px;
    }
    #nation .wrap .det .bot .title .main .list .lt a:after{
        font-size: 12px;
    }
    #nation .wrap .det .bot .title .main .list .rt{
        font-size: 15px;
    }
    #nation .wrap .det .bot .title .main .list .rt select{
        width: 90px;
    }
    #nation .wrap .det .bot .title .main .text .fil{
        font-size: 14px;
        height: 46px;
    }
    #nation .wrap .det .bot .title .main .text .fil .pro{
        line-height: 22px;
    }
    #nation .wrap .det .bot .title .main .text .fil p{
        text-align: center;
    }
    #nation .wrap .det .bot .title .main .text .fil p:nth-child(3){
        border: none;
    }
    #nation .wrap .det .bot .title .main .text div{
        font-size: 14px;
        padding: 10px 0;
    }
    #nation .wrap .det .bot .title .main .text div p{
        text-align: left;
    }
    #nation .wrap .det .bot .title .main .text div .pro{
        width: 175px;
        line-height: 60px;
    }
    #nation .wrap .det .bot .title .main .text div .field{
        width: 175px;
    }
    #nation .wrap .det .bot .title .main .index{
        text-align: left;
        width: 300px;
        padding: 0 50px;
    }
    #nation .wrap .det .bot .title .main .index a{
        margin: 5px 2px;
    }
    #nation .wrap .det .bot .title .main .index .num{
        text-align: center;
    }
    #nation .wrap .det .bot .title .main .index .prev{
        position: absolute;
        left: -14px;
        top: 20px;
        text-align: center;
    }
    #nation .wrap .det .bot .title .main .index .prev a{
        margin: 0;
    }
    #nation .wrap .det .bot .title .main .index .next{
        position: absolute;
        right: -18px;
        top: 16px;
        text-align: center;
    }
}

/* PC용 */
@media (min-width:801px) {
    .mob{
        display: none !important;
    }
}