/* web font */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    vertical-align: top;
}

/* common */
body{
    font-family: 'Noto Sans KR';
}
.wrap{
    width: 72.91666666666667%;
    margin: 0 auto;
    position: relative;
}
.wrap:after, ul:after, .cl:after{
    content: '';
    clear: both;
    display: block;
}
.blind{
    width: 0;
    height: 0;
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
}

/* header & footer */
.skip{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.skip a{
    opacity: 0;
}
.skip a:focus{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 100%;
    background: #272d34;
    border-bottom: 2px solid #00ffff;
    padding: 10px 0 20px;
    opacity: 1;
}
header{
    background: url(../images/bg_season.png) no-repeat left top;
}
header .up{
    border-bottom: 1px solid #ddd;
}
header .up .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
}
header .up .wrap:after{
    display: none;
}
header .up .wrap .text img{
    padding-top: 5px;
}
header .up .wrap .text p{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #4f6282;
    letter-spacing: -1px;
}
header .up .wrap .center a{
    margin-right: 18px;
}
header .up .wrap .center .search{
    display: inline-block;
    width: 340px;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 20px;
    text-align: center;
}
header .up .wrap .center .search select{
    border: none;
    height: 38px;
    color: #666;
    font-weight: bold;
    font-size: 14px;
    appearance: none;
    background: url(../images/ico_arr.png) no-repeat right center;
    padding-right: 20px;
}
header .up .wrap .center .search input{
    padding: 0 18px;
    border: none;
}
header .up .wrap .center .search input::placeholder{
    font-size: 14px;
    font-weight: bold;
    color: #aaa;
}
header .up .wrap .center .search button{
    border: none;
    background: #fff;
    position: relative;
    top: -15px;
    font-size: 0;
}
header .up .wrap nav ul{
    float: left;
}
header .up .wrap nav .snb{
    margin-right: 20px;
    padding-top: 4px;
}
header .up .wrap nav .snb li{
    float: left;
    font-size: 13px;
    color: #777;
    font-weight: 500;
}
header .up .wrap nav .snb li:after{
    content: '|';
    margin: 0 8px 0 6px;
    font-size: 10px;
    font-weight: 100;
    position: relative;
    top: -2px;
}
header .up .wrap nav .snb li:last-child:after{
    display: none;
}
header .up .wrap nav .snb li a img{
    padding-top: 3px;
    margin-right: 5px;
}
header .up .wrap nav .sns li{
    float: left;
    margin-right: 9px;
}
header .up .wrap nav .sns li:last-child{
    margin-right: 0;
}
header .down .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
}
header .down .wrap:after{
    display: none;
}
header .down .wrap .gnb{
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 100%;
    z-index: 100;
}
header .down .wrap .gnb:after{
    display: none;
}
header .down .wrap .gnb li{
    float: left;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
header .down .wrap .gnb li a{
    display: block;
    line-height: 86px;
    position: relative;
}
header .down .wrap .gnb li a img{
    position: absolute;
    top: 86px;
    left: 42%;
    z-index: 999999;
    display: none;
}
header .down .wrap .gnb li a:hover{
    color: #184997;
}
header .down .wrap .gnb li .depth1{
    background: #184997;
    width: calc(100% + 520px);
    position: absolute;
    left: -260px;
    top: 86px;
    display: flex;
    flex-flow: wrap;
    padding: 0 240px 100px;
}
header .down .wrap .gnb li .depth1 li{
    color: #fff;
    width: 20%;
    font-size: 15px;
    float: none;
    padding: 0 20px;
    text-align: left;
}
header .down .wrap .gnb li .depth1 li a{
    border: 1px solid #7693c2;
    width: 100%;
    padding-left: 10px;
    line-height: 55px;
    font-weight: 500;
    margin: 40px 0 10px;
    color: #fff;
}
header .down .wrap .gnb li .depth1 li ul li{
    width: 100%;
    padding: 0;
}
header .down .wrap .gnb li .depth1 li ul li a{
    border: none;
    padding: 0;
    font-weight: 300;
    line-height: 35px;
    margin: 0;
    display: inline;
}
header .down .wrap .gnb li .depth1 li ul li:before{
    content: '-';
    font-weight: 300;
}
header .down .wrap .gnb li .depth1 li ul li a:hover{
    text-decoration: underline;
}
header .down .wrap .gnb li .depth1 li ul li img{
    margin-top: 12px;
}
header .down .wrap .button .site:link, header .down .wrap .button .site:visited{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    display: inline-block;
    transition: 0.3s;
    margin-top: 8px;
    background: #ecf1f4 url(../images/sitemap.png) no-repeat center;
}
header .down .wrap .button .site:hover, header .down .wrap .button .site:active, header .down .wrap .button .site:focus{
    background: #325baf url(../images/sitemap_on.png) no-repeat center;
    color: #fff;
}

footer{
    background: #333;
}
footer .wrap .up{
    padding: 15px 0;
    border-bottom: 1px solid #bbb;
}
footer .wrap .up div{
    float: right;
}
footer .wrap .up div a{
    width: 177px;
    line-height: 40px;
    color: #bbb;
    border: 1px solid #bbb;
    margin-left: 10px;
    display: inline-block;
    font-size: 12px;
    padding-left: 17px;
    background: url(../images/ico_arr_02.png) no-repeat right 18px center;
}
footer .wrap .up ul{
    float: left;
    padding-top: 12px;
}
footer .wrap .up ul li{
    float: left;
    color: #fff;
    font-size: 15px;
}
footer .wrap .up ul li:nth-child(3){
    color: #e0c055;
}
footer .wrap .up ul li:after{
    content: '·';
    margin: 0 13px 0 10px;
}
footer .wrap .up ul li:last-child:after{
    display: none;
}
footer .wrap .down{
    padding: 40px 0 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .wrap .down .lt address{
    color: #fff;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 20px;
}
footer .wrap .down .lt span{
    font-size: 13px;
    color: #aaa;
}
footer .wrap .down .rt a{
    margin-left: 50px;
}
footer .wrap .down .rt a:first-child img{
    padding-top: 5px;
}

/* index */
#main{
    background: url(../images/bg_01.jpg) no-repeat center;
    padding: 50px 0;
}
#main .wrap{
    display: flex;
    justify-content: space-between;
}
#main .wrap .slide{
    margin-right: 2.5%;
    position: relative;
    width: 58%;
    overflow: hidden;
}
#main .wrap .slide ul{
    position: absolute;
    width: 300%;
}
#main .wrap .slide ul li{
    float: left;
    width: 33.333333%;
    height: 410px;
}
#main .wrap .slide ul li a img{
    width: 100%;
    height: 100%;
}
#main .wrap .slide .btn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.8);
    padding: 0 25px;
}
#main .wrap .slide .btn .prev{
    background: url(../images/prev_arr.png) no-repeat center;
    width: 34px;
    height: 13px;
}
#main .wrap .slide .btn .num p{
    float: left;
}
#main .wrap .slide .btn .num .left{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
#main .wrap .slide .btn .num .right{
    font-size: 14px;
    font-weight: bold;
    color: #aaa;
    padding-top: 5px;
}
#main .wrap .slide .btn .stop{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #000 url(../images/stop_btn.png) no-repeat center;
}
#main .wrap .slide .btn .next{
    background: url(../images/next_arr.png) no-repeat center;
    width: 34px;
    height: 13px;
}
#main .wrap .cont{
    width: 27%;
    margin-right: 2.5%;
    padding: 20px;
    background: #fff;
}
#main .wrap .cont .img a{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}
#main .wrap .cont .img a:hover img{
    transform: scale(1.1);
}
#main .wrap .cont .img a img{
    width: 100%;
    transition: 0.5s;
}
#main .wrap .cont .img a p{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 14px 20px;
    letter-spacing: -1px;
}
#main .wrap .cont .text{
    margin-top: 20px;
}
#main .wrap .cont .text a:before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #ccc;
    margin-right: 7px;
    position: relative;
    top: -4px;
}
#main .wrap .cont .text a{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    color: #333;
}
#main .wrap .cont .text a:hover{
    text-decoration: underline;
}
#main .wrap .fact{
    width: 10%;
    background: #fff;
    padding: 0 20px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}
#main .wrap .fact:before{
    content: '';
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: block;
    background: linear-gradient(180deg, rgba(140,201,234,1)0%,rgba(147,186,233,1)27%,rgba(39,93,175,1)100%);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: -1;
    opacity: 0.8;
}
#main .wrap .fact .back{
    content: '';
    width: 200%;
    height: 100%;
    display: block;
    background: #3e67a5;
    position: absolute;
    right: 10px;
    top: -110px;
    transform: rotate(45deg);
    z-index: -2;
}
#main .wrap .fact a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 70px;
}
#main .wrap .fact a .hash{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #a0c0e7 url(../images/banner_hash.png) no-repeat center;
    margin: 0 auto;
}
#main .wrap .fact a img{
    width: 100%;
    margin-top: 10px;
}
#main .wrap .fact a p{
    margin-top: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
#main .wrap .fact a .next{
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background: #00337f url(../images/more_arr_02.png) no-repeat center;
    margin: 20px auto;
}

#con1{
    padding: 60px 0;
}
#con1 .none{
    display: none;
}
#con1 .wrap{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
#con1 .wrap:after{
    display: none;
}
#con1 .wrap .dep1{
    width: calc(50% - 15px);
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 44px;
    height: 283px;
}
#con1 .wrap .dep1 .deu1{
    padding: 22px 15px 43px;
    width: 22%;
}
#con1 .wrap .dep1 .deu1 .del1{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    width: calc(100% + 30px);
}
#con1 .wrap .dep1 .deu1 .active1 .dea1{
    line-height: 60px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(61,63,180,1) 0%, rgba(31,104,178,1) 100%);
    color: #fff;
    padding-left: 20px;
    position: relative;
    left: -30px;
    width: calc(100% + 15px);
}
#con1 .wrap .dep1 .deu1 .active1 .dea1:after{
    width: 28px;
    height: 28px;
    background: #3677ba url(../images/more_arr_02.png) no-repeat center;
    display: block;
    content: '';
    border-radius: 100%;
    position: absolute;
    right: 12px;
    top: 16px;
}
#con1 .wrap .dep1 .deu1 .del1 a{
    line-height: 66px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-left: 6px;
    color: #333;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2{
    position: absolute;
    top: 0;
    right: 0;
    width: 78%;
    padding: 0 5%;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2{
    padding-top: 22px;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2{
    float: left;
    display: flex;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2:after{
    content: '/';
    margin: 0 12px 0 16px;
    position: relative;
    top: 4px;
    color: #bbb;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2:last-child:after{
    display: none;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dea2{
    font-size: 17px;
    line-height: 33px;
    color: #aaa;
    font-weight: 400;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dea2:hover{
    color: #000;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .active2 .dea2{
    font-weight: bold;
    color: #000;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .more{
    position: absolute;
    top: 32px;
    right: 26px;
    font-size: 13px;
    font-weight: 200;
    color: #888;
    line-height: 13px;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .more img{
    padding-top: 1px;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3{
    width: 100%;
    padding: 10px 25px 23px 30px;
    position: absolute;
    top: 55px;
    left: 0;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit{
    background: #eee;
    display: flex;
    padding: 23px 0;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit:hover .head{
    text-decoration: underline;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .cal{
    text-align: center;
    width: 20%;
    border-right: 1px solid #ddd;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .cal .dd{
    font-size: 34px;
    line-height: 44px;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .cal .yymm{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .det1{
    width: 80%;
    padding: 0 20px;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .det1 .head{
    line-height: 42px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .tit .det1 .text{
    font-size: 14px;
    color: #888;
    line-height: 20px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .det2{
    font-size: 15px;
    font-weight: 500;
    line-height: 45px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .det2 .text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 78%;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .det2:hover .text{
    text-decoration: underline;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 a:nth-child(2){
    border-bottom: 1px solid #eee;
}
#con1 .wrap .dep1 .deu1 .del1 .dep2 .deu2 .del2 .dep3 .det2 .yymmdd{
    font-size: 14px;
    font-weight: 400;
    padding-top: 3px;
    color: #888;
    white-space: nowrap;
}
#con1 .wrap .slide{
    width: calc(24% - 9px);
    position: relative;
    overflow: hidden;
}
#con1 .wrap .slide .text{
    display: flex;
    align-items: end;
    margin-bottom: 17px;
}
#con1 .wrap .slide .text h3{
    margin-right: 15px;
}
#con1 .wrap .slide .text p{
    font-size: 15px;
    font-weight: bold;
}
#con1 .wrap .slide .text .left{
    color: #dc2829;
}
#con1 .wrap .slide .text .right{
    color: #999;
}
#con1 .wrap .slide .btn{
    position: absolute;
    right: 0;
    top: 10px;
    display: flex;
    justify-content: space-between;
    background: url(../images/board_arr.png) no-repeat center;
    width: 60px;
    height: 12px;
}
#con1 .wrap .slide .btn a{
    width: 7px;
    height: 12px;
    display: block;
}
#con1 .wrap .slide ul{
    position: absolute;
}
#con1 .wrap .slide .ul1{
    width: 400%;
}
#con1 .wrap .slide .ul2{
    width: 300%;
}
#con1 .wrap .slide .ul3{
    width: 900%;
}
#con1 .wrap .slide .ul4{
    width: 300%;
}
#con1 .wrap .slide .ul5{
    width: 400%;
}
#con1 .wrap .slide ul li{
    float: left;
}
#con1 .wrap .slide ul .li1{
    width: 25%;
}
#con1 .wrap .slide ul .li2{
    width: 33.33333333333333%;
}
#con1 .wrap .slide ul .li3{
    width: 11.11111111111111%;
}
#con1 .wrap .slide ul .li4{
    width: 33.33333333333333%;
}
#con1 .wrap .slide ul .li5{
    width: 25%;
}
#con1 .wrap .slide ul li a{
    position: relative;
    display: block;
}
#con1 .wrap .slide ul li a:hover p{
    text-decoration: underline;
}
#con1 .wrap .slide ul li a img{
    width: 100%;
}
#con1 .wrap .slide ul li a p{
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 15px 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#con1 .wrap .plaza{
    width: calc(24% - 9px);
    position: relative;
}
#con1 .wrap .plaza .text{
    margin-bottom: 17px;
}
#con1 .wrap .plaza .btn a{
    position: absolute;
    right: 0;
    top: 10px;
    background: url(../images/more_btn.png) no-repeat center;
    width: 12px;
    height: 12px;
}
#con1 .wrap .plaza ul li a img{
    width: 100%;
}


#con2{
    background: url(../images/bg_influ.jpg) no-repeat center/cover;
    height: 398px;
}
#con2 .wrap{
    display: flex;
    justify-content: space-between;
}
#con2 .wrap:after{
    display: none;
}
#con2 .wrap .tit{
    width: 15.35714285714286%;
    padding-top: 66px;
}
#con2 .wrap .tit a{
    color: #fff;
    margin-top: 10px;
    display: block;
    font-size: 27px;
    font-weight: bold;
}
#con2 .wrap .tit .toge{
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(23,70,157,1) 0%, rgba(41,93,192,1) 100%);
    height: 44px;
    border-radius: 22px;
    position: relative;
    left: -17px;
}
#con2 .wrap .tit .toge img{
    padding: 10px 0 0 17px;
}
#con2 .wrap .tit .pc{
    position: relative;
    left: -17px;
    margin-top: 34px;
}
#con2 .wrap .slide{
    width: 56.85714285714286%;
    overflow: hidden;
    padding: 100px 0 60px;
    position: relative;
    padding-left: 12px;
}
#con2 .wrap .slide .btn{
    position: absolute;
    right: 0;
    top: 54px;
}
#con2 .wrap .slide .btn a{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    float: left;
    transition: 0.3s;
    margin-left: 10px;
}
#con2 .wrap .slide .btn .prev:hover{
    background: #1e49b0 url(../images/influ_arr.png) no-repeat left 12px top 10px;;
}
#con2 .wrap .slide .btn .prev{
    background: #406ec9 url(../images/influ_arr.png) no-repeat left 12px top 10px;
}
#con2 .wrap .slide .btn .next:hover{
    background: #1e49b0 url(../images/influ_arr.png) no-repeat center top 10px;;
}
#con2 .wrap .slide .btn .next{
    background: #406ec9 url(../images/influ_arr.png) no-repeat center top 10px;
}
#con2 .wrap .slide .btn .more:hover{
    background: #1e49b0 url(../images/influ_arr.png) no-repeat right 10px top 10px;;
}
#con2 .wrap .slide .btn .more{
    background: #406ec9 url(../images/influ_arr.png) no-repeat right 10px top 10px;
}
#con2 .wrap .slide ul{
    width: 200%;
    position: absolute;
}
#con2 .wrap .slide ul li{
    width: 15.86229086229086%;
    float: left;
    margin-right: 15px;
}
#con2 .wrap .slide ul li:last-child{
    margin-right: 0;
}
#con2 .wrap .slide ul li a{
    display: block;
}
#con2 .wrap .slide ul li a:hover img{
    transform: scale(110%);
}
#con2 .wrap .slide ul li a .img{
    overflow: hidden;
}
#con2 .wrap .slide ul li a .img img{
    width: 100%;
    transition: 0.3s;
}
#con2 .wrap .slide ul li a .text{
    background: #fff;
    padding: 25px 25px 25px 16px;
}
#con2 .wrap .slide ul li a p{
    font-size: 15px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}
#con2 .wrap .appl{
    width: 23.42857142857143%;
    background: #1e49b0;
    height: 398px;
}
#con2 .wrap .appl a{
    border-bottom: 1px solid #395fb9;
    padding: 42px 30px 30px 39px;
    height: 199px;
    letter-spacing: -1px;
    display: block;
}
#con2 .wrap .appl .mail{
    background: url(../images/ico_influ_01.png) no-repeat right 30px bottom 30px;
}
#con2 .wrap .appl .coop{
    background: url(../images/ico_influ_02.png) no-repeat right 30px bottom 30px;
}
#con2 .wrap .appl a h3{
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
#con2 .wrap .appl a p{
    font-size: 16px;
    color: rgba(255,255,255,0.5);
}
#con2 .wrap .appl a .more{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #355cb8 url(../images/more_arr_02.png) no-repeat center;
    margin-top: 20px;
    position: relative;
    left: -28px;
    opacity: 0;
}

#con3{
    background: #f8f8f8;
    padding: 60px 0;
}
#con3 .wrap .tit{
    width: 34.64285714285714%;
    background: url(../images/bg_open.jpg) no-repeat center/cover;
    padding: 30px 0 20px 26px;
    float: left;
    position: relative;
}
#con3 .wrap .tit:after{
    content: '';
    width: 198px;
    height: 172px;
    background: url(../images/minister.png) no-repeat center;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}
#con3 .wrap .tit h3{
    font-size: 26px;
    color: #fff;
    margin-bottom: 12px;
}
#con3 .wrap .tit p{
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    margin-bottom: 30px;
}
#con3 .wrap .tit .link a{
    width: 120px;
    padding: 11px 0;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    background: #3b5eb0;
    padding-left: 10px;
}
#con3 .wrap .tit .link a img{
    float: right;
    margin-right: 10px;
    padding-top: 7px;
}
#con3 .wrap .tit .link a:hover{
    color: #2552ab;
    background: #fff;
}
#con3 .wrap ul{
    float: right;
    width: 62.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#con3 .wrap ul:after{
    display: none;
}
#con3 .wrap ul li{
    float: left;
    width: 32%;
    margin-bottom: 15px;
}
#con3 .wrap ul li a{
    display: block;
    padding: 25px 26px;
    line-height: 42px;
    font-size: 17px;
    font-weight: bold;
    color: #111;
    border: 1px solid #ccc;
    background: url(../images/svc_arr.png) no-repeat right 20px center;
}
#con3 .wrap ul li a:hover{
    border: 1px solid #2e65b6;
}
#con3 .wrap ul li a img{
    margin-right: 20px;
    height: 42px;
    width: 44px;
}

#con4{
    background: #ebeef3;
    padding: 40px 0;
}
#con4 .wrap{
    display: flex;
    justify-content: space-between;
}
#con4 .wrap:after{
    display: none;
}
#con4 .wrap a{
    width: 105px;
    height: 128px;
    text-align: center;
    font-size: 15px;
}
#con4 .wrap a .img{
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    top: 0;
}
#con4 .wrap a .img img{
    padding: 17px 0;
}

#con5{
    padding: 20px 0;
}
#con5 .wrap{
    display: flex;
}
#con5 .wrap .btn{
    width: 6.785714285714286%;
    height: 14px;
    background: url(../images/site_arr.png) no-repeat center;
    margin: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
}
#con5 .wrap .btn a{
    width: 14px;
    height: 14px;
    display: block;
}
#con5 .wrap .ban{
    width: 92.14285714285714%;
}
#con5 .wrap .ban ul{
    display: flex;
    justify-content: space-between;
}
#con5 .wrap .ban ul:after{
    display: none;
}
#con5 .wrap .ban ul li{
    width: 13.95348837209302%;
}
#con5 .wrap .ban ul li a{
    border: 1px solid #eee;
    display: block;
    text-align: center;
}
#con5 .wrap .ban ul li a:hover{
    border: 1px solid #000;
}
#con5 .wrap .ban ul li a img{
    width: 100%;
}

#news{
    padding-top: 66px;
    background: url(../images/bg_visual_sub.jpg) no-repeat center top;
}
#news .wrap{
    background: #fff;
}
#news .wrap .menu{
    float: left;
    width: 240px;
}
#news .wrap .menu h3{
    color: #fff;
    background: #174896;
    text-align: center;
    padding: 77px 0 68px 0;
    font-size: 34px;
}
#news .wrap .menu .dep1{
    font-weight: 500;
    color: #555;
}
#news .wrap .menu .dep1 .del1{
    border: 1px solid #eee;
}
#news .wrap .menu .dep1 .del1 .dea1{
    display: block;
    padding: 20px;
}
#news .wrap .menu .dep1 .del1 .more{
    background: url(../images/more.jpg) no-repeat right 22px center;
}
#news .wrap .menu .dep1 .del1 .active{
    background: #3e4452 url(../images/close.jpg) no-repeat right 22px center;
    color: #fff;
}
#news .wrap .menu .dep1 .del1 .dep2{
    background: #f3f5f9;
    padding: 30px 0 15px 20px;
}
#news .wrap .menu .dep1 .del1 .none{
    display: none;
}
#news .wrap .menu .dep1 .del1 .dep2 .del2{
    margin-bottom: 15px;
}
#news .wrap .menu .dep1 .del1 .dep2 .del2 .dea2{
    font-size: 14px;
}
#news .wrap .menu .dep1 .del1 .dep2 .del2 .dea2:before{
    display: inline-block;
    width: 3px;
    height: 3px;
    content: '';
    background: #888;
    position: relative;
    top: -3px;
    margin-right: 10px;
}
#news .wrap .det{
    float: right;
    width: 77.85714285714286%;
    padding: 48px 70px 140px 0;
}
#news .wrap .det .top{
    margin-bottom: 84px;
}
#news .wrap .det .top .tit{
    width: 50%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 28px;
}
#news .wrap .det .top .tit h3{
    font-size: 32px;
    font-weight: 500;
    color: #333;
}
#news .wrap .det .top .sub{
    padding-top: 16px;
}
#news .wrap .det .top .sub a{
    font-size: 14px;
    color: #777;
}
#news .wrap .det .top .sub .home:before{
    width: 15px;
    height: 13px;
    content: '';
    display: inline-block;
    background: url(../images/home.jpg) no-repeat center;
    margin-right: 7px;
}
#news .wrap .det .top .sub .home:after{
    width: 9px;
    height: 10px;
    content: '';
    display: inline-block;
    background: url(../images/prev.jpg) no-repeat center;
    transform: rotate(180deg);
    margin: 0 4px 0 6px;
}
#news .wrap .det .top .sub .gt{
    text-decoration: underline;
}
#news .wrap .det .top .sub .print{
    float: right;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 100%;
    text-align: center;
    padding-top: 12px;
}
#news .wrap .det .top .sub .print:hover{
    background: #ddd;
}
#news .wrap .det .mid{
    background: #f4f4f4;
    padding: 20px 0 25px 30px;
    margin-bottom: 30px;
    color: #666;
}
#news .wrap .det .mid p:before{
    content: '';
    width: 4px;
    height: 4px;
    display: inline-block;
    background: #051f5f;
    position: relative;
    top: -4px;
    margin-right: 6px;
}
#news .wrap .det .mid p{
    font-size: 14px;
    display: inline-block;
}
#news .wrap .det .mid select{
    padding: 5px 10px;
    width: 164px;
    height: 35px;
    border: 1px solid #ddd;
}
#news .wrap .det .mid input{
    padding: 5px 10px;
    height: 35px;
    border: 1px solid #ddd;
}
#news .wrap .det .mid .fid{
    margin-bottom: 5px;
}
#news .wrap .det .mid .fid select{
    margin: 0 55px 0 42px;
}
#news .wrap .det .mid .fid input{
    margin-left: 43px;
    width: 351px;
}
#news .wrap .det .mid a{
    width: 94px;
    line-height: 35px;
    font-size: 15px;
    background: #325baf;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 2px;
}
#news .wrap .det .mid .date{
    font-size: 15px;
}
#news .wrap .det .mid .date p{
    margin-right: 16px;
}
#news .wrap .det .mid .subject{
    margin-top: -8px;
}
#news .wrap .det .mid .subject input:nth-child(2),#news .wrap .det .mid .subject input:nth-child(4){
    position: relative;
    top: 12px;
    margin-right: 6px;
}
#news .wrap .det .mid .subject p:nth-child(3),#news .wrap .det .mid .subject p:nth-child(5){
    margin-right: 6px;
}
#news .wrap .det .mid .subject p:nth-child(3):before,#news .wrap .det .mid .subject p:nth-child(5):before{
    display: none;
}
#news .wrap .det .mid .subject p:first-child{
    margin-right: 29px;
}
#news .wrap .det .mid .subject input:nth-child(6){
    width: 516px;
}
#news .wrap .det .mid .subject a{
    background: #333;
}
#news .wrap .det .bot .list{
    margin-bottom: 10px;
    color: #555;
}
#news .wrap .det .bot .list p:before{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../images/list.jpg) no-repeat center;
    content: '';
    margin-right: 10px;
}
#news .wrap .det .bot .list p strong{
    color: #1552ce;
}
#news .wrap .det .bot .text .fil{
    border-top: 2px solid #004489;
    background: #f5f5f5;
    text-align: center;
    font-weight: 500;
    color: #333;
}
#news .wrap .det .bot .text div{
    display: flex;
    text-align: center;
    color: #555;
    border-bottom: 1px solid #ddd;
}
#news .wrap .det .bot .text div p{
    padding: 17px 0;
}
#news .wrap .det .bot .text div a{
    text-align: left;
}
#news .wrap .det .bot .text div a:hover{
    color: #333;
}
#news .wrap .det .bot .text .num{
    width: 8%;
}
#news .wrap .det .bot .text .tit{
    width: 56%;
    padding: 17px 0;
}
#news .wrap .det .bot .text .field{
    width: 15%;
}
#news .wrap .det .bot .text .date{
    width: 13%;
}
#news .wrap .det .bot .text .chk{
    width: 8%;
}
#news .wrap .det .index{
    text-align: center;
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}
#news .wrap .det .index a{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0 2px;
}
#news .wrap .det .index .prev{
    position: absolute;
    left: -30px;
    top: 0;
}
#news .wrap .det .index .prev a img{
    padding-top: 8px;
}
#news .wrap .det .index .num a{
    color: #888;
    border: 1px solid #888;
    padding-top: 1px;
}
#news .wrap .det .index .num a:hover{
    text-decoration: underline;
}
#news .wrap .det .index .next{
    position: absolute;
    right: -30px;
    top: 0;
}
#news .wrap .det .index .next a img{
    transform: rotate(180deg);
    padding-bottom: 8px;
}
#news .wrap .det .open{
    margin-top: 282px;
    background: #f0f4f7;
    padding: 30px 0 33px 35px;
    display: flex;
}
#news .wrap .det .open .lt{
    margin-right: 45px;
}
#news .wrap .det .open .rt p:before{
    width: 4px;
    height: 4px;
    content: '';
    background: #888;
    display: inline-block;
    position: relative;
    top: -4px;
    margin-right: 8px;
}
#news .wrap .det .open .rt p{
    font-size: 15px;
    color: #666;
    letter-spacing: -1px;
}
#news .wrap .det .open .rt p:first-child{
    margin-bottom: 5px;
}

#nation{
    padding-top: 66px;
    background: url(../images/bg_visual_sub.jpg) no-repeat center top;
}
#nation .wrap{
    background: #fff;
}
#nation .wrap .menu{
    float: left;
    width: 240px;
}
#nation .wrap .menu h3{
    color: #fff;
    background: #174896;
    text-align: center;
    padding: 77px 0 68px 0;
    font-size: 34px;
}
#nation .wrap .menu .dep1{
    font-weight: 500;
    color: #555;
}
#nation .wrap .menu .dep1 .del1{
    border: 1px solid #eee;
}
#nation .wrap .menu .dep1 .del1 .dea1{
    display: block;
    padding: 20px;
}
#nation .wrap .menu .dep1 .del1 .more{
    background: url(../images/more.jpg) no-repeat right 22px center;
}
#nation .wrap .menu .dep1 .del1 .active{
    background: #3e4452 url(../images/close.jpg) no-repeat right 22px center;
    color: #fff;
}
#nation .wrap .menu .dep1 .dea1 img{
    padding-top: 6px;
}
#nation .wrap .menu .dep1 .del1 .dep2{
    background: #f3f5f9;
    padding: 30px 0 15px 20px;
}
#nation .wrap .menu .dep1 .del1 .none{
    display: none;
}
#nation .wrap .menu .dep1 .del1 .dep2 .del2{
    margin-bottom: 15px;
}
#nation .wrap .menu .dep1 .del1 .dep2 .del2 .dea2{
    font-size: 14px;
}
#nation .wrap .menu .dep1 .del1 .dep2 .del2 .dea2:before{
    display: inline-block;
    width: 3px;
    height: 3px;
    content: '';
    background: #888;
    position: relative;
    top: -3px;
    margin-right: 10px;
}
#nation .wrap .menu .dep1 .dep2 .del2 .dea2 img{
    padding-top: 6px;
}
#nation .wrap .det{
    float: right;
    width: 77.85714285714286%;
    padding: 48px 70px 140px 0;
}
#nation .wrap .det .top{
    margin-bottom: 84px;
}
#nation .wrap .det .top .tit{
    width: 50%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 28px;
}
#nation .wrap .det .top .tit h3{
    font-size: 32px;
    font-weight: 500;
    color: #333;
}
#nation .wrap .det .top .sub{
    padding-top: 16px;
}
#nation .wrap .det .top .sub a{
    font-size: 14px;
    color: #777;
}
#nation .wrap .det .top .sub .home:before{
    width: 15px;
    height: 13px;
    content: '';
    display: inline-block;
    background: url(../images/home.jpg) no-repeat center;
    margin-right: 7px;
}
#nation .wrap .det .top .sub .gt:after{
    width: 9px;
    height: 10px;
    content: '';
    display: inline-block;
    background: url(../images/prev.jpg) no-repeat center;
    transform: rotate(180deg);
    margin: 0 4px 0 6px;
}
#nation .wrap .det .top .sub .udl{
    text-decoration: underline;
}
#nation .wrap .det .top .sub .print{
    float: right;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 100%;
    text-align: center;
    padding-top: 12px;
}
#nation .wrap .det .top .sub .print:hover{
    background: #ddd;
}
#nation .wrap .det .mid .subp{
    width: 100%;
    margin-bottom: 30px;
}
#nation .wrap .det .mid .subp a{
    width: 33%;
    display: inline-block;
    line-height: 50px;
    border: 1px solid #eee;
    font-size: 15px;
    color: #555;
}
#nation .wrap .det .mid .subp a:hover{
    text-decoration: underline;
}
#nation .wrap .det .mid .subp a:before{
    width: 21px;
    height: 21px;
    display: inline-block;
    content: '';
    background: url(../images/sub.jpg) no-repeat center;
    position: relative;
    top: 4px;
    margin: 0 5px;
}
#nation .wrap .det .mid .subp .active{
    background: #1c66b1;
    color: #fff;
}
#nation .wrap .det .mid .subp .active:hover{
    text-decoration: none;
}
#nation .wrap .det .mid .subp .active:before{
    width: 21px;
    height: 21px;
    display: inline-block;
    content: '';
    background: url(../images/sub_a.jpg) no-repeat center;
}
#nation .wrap .det .mid .text{
    padding: 0 20px;
    display: flex;
    position: relative;
}
#nation .wrap .det .mid .text p{
    padding: 20px 0 0 35px;
    font-size: 15px;
    color: #666;
}
#nation .wrap .det .mid .text p:before{
    width: 4px;
    height: 4px;
    display: inline-block;
    content: '';
    background: #878787;
    position: relative;
    top: -4px;
    margin-right: -4px;
    left: -10px;
}
#nation .wrap .det .mid .text p strong{
    color: #3670c3;
}
#nation .wrap .det .mid .text p a{
    text-decoration: underline;
}
#nation .wrap .det .mid .text p a img{
    padding-top: 5px;
}
#nation .wrap .det .mid .text .border{
    width: 100%;
    height: 3px;
    background: url(../images/border.jpg) repeat center;
    position: absolute;
    bottom: -26px;
    left: 0;
}
#nation .wrap .det .bot{
    margin-top: 89px;
    height: 980px;
    overflow-y: scroll;
}
#nation .wrap .det .bot .sech{
    background: #f4f6f7;
    padding: 30px 40px 5px;
    margin: 0 10px 20px 0;
}
#nation .wrap .det .bot .sech .tit{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#nation .wrap .det .bot .sech .tit select{
    width: 14.13131313131313%;
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 0 10px;
}
#nation .wrap .det .bot .sech .tit input{
    width: 33.12121212121212%;
    height: 45px;
    border: 1px solid #ddd;
    font-size: 15px;
    background: #fff url(../images/search_on.jpg) no-repeat left 20px center;
    padding-left: 62px;
}
#nation .wrap .det .bot .sech .tit a{
    width: 16.14141414141414%;
    line-height: 45px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: 500;
}
#nation .wrap .det .bot .sech .tit .sear{
    background: #488bf8;
}
#nation .wrap .det .bot .sech .tit .rese{
    background: #999;
}
#nation .wrap .det .bot .sech .tit .setting{
    background: #555;
}
#nation .wrap .det .bot .sech .tit .setting img{
    padding-top: 18px;
    margin-left: 2px;
}
#nation .wrap .det .bot .sech .set{
    display: none;
}
#nation .wrap .det .bot .sech .set p{
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 30px;
}
#nation .wrap .det .bot .sech .set p:after{
    content: '|';
    margin: 0 20px 0 45px;
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: -2px;
}
#nation .wrap .det .bot .sech .set .date .d{
    width: 14.64646464646465%;
    height: 35px;
    background: #f4f6f7;
    border-radius: 4px;
    border: 1px solid #999;
    padding-left: 10px;
}
#nation .wrap .det .bot .sech .set .date input:nth-of-type(2){
    margin-right: 10px;
}
#nation .wrap .det .bot .sech .set .cla select{
    width: 53.93939393939394%;
    height: 35px;
    background: #f4f6f7;
    border-radius: 4px;
    border: 1px solid #999;
    padding-left: 10px;
}
#nation .wrap .det .bot .sech .set .deb select{
    width: 14.64646464646465%;
    height: 35px;
    background: #f4f6f7;
    border-radius: 4px;
    border: 1px solid #999;
    padding-left: 10px;
}
#nation .wrap .det .bot .title{
    display: flex;
    position: relative;
    border: 1px solid #ddd;
    width: 99%;
}
#nation .wrap .det .bot .title > .active{
    background: #488bf8;
    color: #fff;
}
#nation .wrap .det .bot .title > a{
    width: 33.3333%;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 2px solid #488bf8;
    line-height: 55px;
    font-size: 18px;
    font-weight: 500;
}
#nation .wrap .det .bot .title > a:last-of-type{
    border-right: none;
}
#nation .wrap .det .bot .title .main{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}
#nation .wrap .det .bot .title .none{
    display: none;
}
#nation .wrap .det .bot .title .main .list{
    margin-bottom: 20px;
}
#nation .wrap .det .bot .title .main .list .lt{
    float: left;
}
#nation .wrap .det .bot .title .main .list .lt .active{
    color: #111;
}
#nation .wrap .det .bot .title .main .list .lt a{
    font-size: 17px;
    color: #555;
}
#nation .wrap .det .bot .title .main .list .lt a:after{
    content: '|';
    font-size: 14px;
    position: relative;
    top: -2px;
    margin: 0 6px;
}
#nation .wrap .det .bot .title .main .list .lt a:last-child:after{
    display: none;
}
#nation .wrap .det .bot .title .main .list .lt a img{
    padding-top: 6px;
}
#nation .wrap .det .bot .title .main .list .rt{
    float: right;
    font-size: 16px;
}
#nation .wrap .det .bot .title .main .list .rt span strong{
    color: #eb5c57;
}
#nation .wrap .det .bot .title .main .list .rt select{
    width: 125px;
    height: 33px;
    border-radius: 4px;
    border: 1px solid #888;
    position: relative;
    top: -8px;
}
#nation .wrap .det .bot .title .main .text .fil{
    background: #f4f6f7;
    font-size: 15px;
    font-weight: bold;
    color: #222;
}
#nation .wrap .det .bot .title .main .text .fil p{
    border-right: 1px solid #ccc;
}
#nation .wrap .det .bot .title .main .text .fil p:last-child{
    border: none;
}
#nation .wrap .det .bot .title .main .text div{
    display: flex;
    border-top: 1px solid #ddd;
    font-size: 17px;
    color: #444;
    padding: 24px 0;
}
#nation .wrap .det .bot .title .main .text div:last-child{
    border-bottom: 1px solid #ddd;
}
#nation .wrap .det .bot .title .main .text div p{
    text-align: center;
}
#nation .wrap .det .bot .title .main .text div .num{
    width: 6.122448979591837%;
}
#nation .wrap .det .bot .title .main .text div .pro{
    width: 10.20408163265306%;
}
#nation .wrap .det .bot .title .main .text div .field{
    width: 61.53061224489796%;
}
#nation .wrap .det .bot .title .main .text div .date{
    width: 22.44897959183673%;
}
#nation .wrap .det .bot .title .main .index{
    text-align: center;
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}
#nation .wrap .det .bot .title .main .index a{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0 2px;
}
#nation .wrap .det .bot .title .main .index .prev{
    position: absolute;
    left: -70px;
    top: 0;
}
#nation .wrap .det .bot .title .main .index .prev a{
    border: 1px solid #eee;
}
#nation .wrap .det .bot .title .main .index .prev a img{
    padding-top: 8px;
}
#nation .wrap .det .bot .title .main .index .num a{
    color: #888;
    padding-top: 1px;
}
#nation .wrap .det .bot .title .main .index .num a:hover{
    border: 1px solid #888;
}
#nation .wrap .det .bot .title .main .index .num .active{
    color: #488bf8;
    text-decoration: underline;
}
#nation .wrap .det .bot .title .main .index .num .active:hover{
    color: #000;
    border: none;
}
#nation .wrap .det .bot .title .main .index .next{
    position: absolute;
    right: -70px;
    top: 0;
}
#nation .wrap .det .bot .title .main .index .next a{
    border: 1px solid #eee;
}
#nation .wrap .det .bot .title .main .index .next a img{
    transform: rotate(180deg);
    padding-bottom: 8px;
}