/* web font */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    vertical-align: top;
}
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}

/* common */
body{
    font-family: 'Noto Sans KR';
    line-height: 1.6;
    color: #000;
    font-size: 16px;
}
.wrap{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
.wrap:after, ul:after, .cl:after{
    content: '';
    clear: both;
    display: block;
}
.blind{
    width: 0;
    height: 0;
    font-size: 0;
    position: absolute;
    left: -9999px;
}

/* header */
header{
    border-bottom: 2px solid #000;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #fff;
}
header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
}
header .wrap:after{
    display: none;
}
header .wrap h1 a{
    background: url(../images/monetization_on_pc.svg) no-repeat center;
    width: 92px;
    height: 72px;
    display: block;
}
header .wrap .gnb{
    width: 100%;
}
header .wrap .gnb ul{
    display: flex;
    justify-content: end;
}
header .wrap .gnb ul li{
    margin-left: 5%;
}
header .wrap .gnb ul li a{
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}
header .wrap .gnb ul li a:hover{
    color: #1a5e9a;
}

/* postion:fixed blank */
.blank{
    height: 108px;
}

/* index */
section{
    border-bottom: 2px solid #000;
}
#intro{
    height: calc(100vh - 108px);
    padding: 60px 0;
}
#intro .wrap .abme{
    margin-bottom: 20px;
}
#intro .wrap .abme .pub{
    width: 120px;
    height: 120px;
    background: url(../images/technologist.png) no-repeat center;
    display: inline-block;
}
#intro .wrap .abme h3{
    display: inline-block;
    font-size: 36px;
    position: relative;
    top: -10px;
    margin-left: 20px;
}
#intro .wrap .abme p{
    margin-top: 20px;
}
#intro .wrap .intro h3{
    font-size: 36px;
    margin-bottom: 10px;
}
#intro .wrap .intro .block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
#intro .wrap .intro .block:last-child{
    margin-bottom: 20px;
}
#intro .wrap .intro .rela{
    position: relative;
}
#intro .wrap .intro .block .menu{
    width: 320px;
    line-height: 80px;;
    display: block;
    text-align: center;
    border: 2px solid #0769ad;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: bold;
}
#intro .wrap .intro .block .menu:hover{
    background: #0769ad;
    color: #fff;
}
#intro .wrap .intro .block .none{
    position: absolute;
    top: 0;
    left: -1400px;
    width: 100%;
    height: 332px;
    z-index: 99;
    display: none;
    opacity: 0;
}
#intro .wrap .intro .block .none:first-of-type{
    background: #fff url(../images/web_standard.jpg) no-repeat center/contain;
}
#intro .wrap .intro .block .none:nth-of-type(2){
    background: #fff url(../images/semantics.jpg) no-repeat center/contain;
}
#intro .wrap .intro .block .none .close{
    width: 32px;
    height: 32px;
    display: block;
    background: url(../images/close.png) no-repeat center;
    position: absolute;
    top: 0;
    right: 0;
}
#intro .wrap .cota h3{
    font-size: 36px;
}

#tech{
    height: calc(100vh - 108px);
    padding: 60px 0;
}
#tech .wrap{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 741px;
}
#tech .wrap:after{
    display: none;
}
#tech .wrap h3{
    font-size: 36px;
}
#tech .wrap ul{
    display: flex;
    justify-content: end;
    margin-top: 19px;
    width: 100%;
}
#tech .wrap ul li{
    margin-left: 5%;
}
#tech .wrap ul li .list{
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}
#tech .wrap ul li .list:hover{
    color: #1a5e9a;
}
#tech .wrap ul li .abso{
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 590px;
}
#tech .wrap ul li .none{
    display: none;
}
#tech .wrap ul li .abso div{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
#tech .wrap ul li .abso div:last-child{
    margin-right: 0;
}
#tech .wrap ul li .abso .col_h{
    width: 10.71428571428571%;
}
#tech .wrap ul li .abso .col_c{
    width: 15%;
}
#tech .wrap ul li .abso .col_js{
    width: 18.28571428571429%;
}
#tech .wrap ul li .abso .col_jq{
    width: 15%;
}
#tech .wrap ul li .abso .photo{
    height: 590px;
    overflow-y: scroll;
}
#tech .wrap ul li .abso .illu img{
    width: 630px;
    height: 590px;
}
#tech .wrap ul li .abso div button{
    display: block;
    border: 2px solid #1a5e9a;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tech .wrap ul li .abso div button:hover{
    background: #1a5e9a;
    color: #fff;
}
#tech .wrap ul li .abso div .html{
    line-height: 70px;
}
#tech .wrap ul li .abso div .html:first-child{
    margin-top: 0;
}
#tech .wrap ul li .abso div .css{
    line-height: 60px;
}
#tech .wrap ul li .abso div .css:first-child{
    margin-top: 0;
}
#tech .wrap ul li .abso div .js{
    line-height: 50px;
}
#tech .wrap ul li .abso div .js:first-child{
    margin-top: 0;
}
#tech .wrap ul li .abso div .jq{
    line-height: 40px;
}
#tech .wrap ul li .abso div .jq:first-child{
    margin-top: 0;
}
#tech .wrap .btn{
    position: absolute;
    width: 100%;
    bottom: 38px;
}
#tech .wrap .btn .np{
    position: absolute;
    bottom: -8px;
    display: block;
    width: 100%;
}
#tech .wrap .btn .np button{
    position: absolute;
    width: 40px;
    height: 40px;
}
#tech .wrap .btn .np .prev{
    left: 0;
    background: rgba(0,0,0,0.2) url(../images/before.png) no-repeat center/cover;
}
#tech .wrap .btn .np .next{
    right: 0;
    background: rgba(0,0,0,0.2) url(../images/next.png) no-repeat center/cover;
}
#tech .wrap .btn .bul{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
#tech .wrap .btn .bul button{
    width: 10px;
    height: 10px;
    display: block;
    background: rgba(0,0,0,0.3);
    border-radius: 100%;
    margin: 0 6px;
}
#tech .wrap .btn .bul .active{
    background: #000;
}
#tech .wrap .btn .bar{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: -58px;
    background: rgba(0,0,0,0.3);
}
#tech .wrap .btn .bar button{
    width: 16.66666666666667%;
    height: 10px;
    display: block;
}
#tech .wrap .btn .bar .active{
    background: #000;
}

#port{
    height: calc(100vh - 108px);
}
#port .wrap{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
#port .wrap .pre{
    width: 35%;
    padding: 60px 0 70px;
    height: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-right: 5%;
}
#port .wrap .pre h3{
    font-size: 36px;
}
#port .wrap .pre ul{
    display: flex;
    position: relative;
    left: 0;
}
#port .wrap .pre ul li{
    margin-right: 30px;
    opacity: 0.3;
}
#port .wrap .pre ul .active{
    opacity: 1;
}
#port .wrap .pre ul .active a{
    background: rgba(0,0,0,0.6);
    color: #fff;
    opacity: 1;
}
#port .wrap .pre ul .active a:hover > span{
    background: #fff;
    color: #000;
}
#port .wrap .pre ul li a{
    display: block;
    width: 300px;
    height: 400px;
    background: rgba(0,0,0,0.2);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#port .wrap .pre ul li a h4{
    font-size: 24px;
}
#port .wrap .pre ul li a div{
    display: flex;
    flex-direction: column;
}
#port .wrap .pre ul .active a > span{
    border: 1px solid #fff;
    transition: 0.3s;
}
#port .wrap .pre ul li a > span{
    text-align: center;
    border: 1px solid #000;
    padding: 10px 0;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
}
#port .wrap .expl{
    width: 50%;
    height: 77%;
    padding: 60px 0 70px;
    overflow: hidden;
}
#port .wrap .expl ul{
    width: 200%;
    height: 100%;
    display: flex;
    position: relative;
    left: 0;
}
#port .wrap .expl ul li{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#port .wrap .expl ul li h3{
    font-family: 'Pangolin';
    font-size: 36px;
}
#port .wrap .expl ul li h3{
    opacity: 0;
}
#port .wrap .expl ul li .dima{
    color: #ec268f;
}
#port .wrap .expl ul li .molit{
    color: #1f51a0;
}
#port .wrap .expl ul li .frame{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
#port .wrap .expl ul li .frame div{
    height: 44px;
}
#port .wrap .expl ul li .frame .up{
    margin-bottom: 30px;
}
#port .wrap .expl ul li .frame div span{
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 22px;
    margin-right: 20px;
}
#port .wrap .side{
    width: 10%;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 77%;
}
#port .wrap .side button{
    width: 100%;
    height: 70px;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    font-size: 18px;
    transition: 0.3s;
}
#port .wrap .side .active{
    color: #000;
}
#port .wrap .side button:hover{
    background: rgba(0,0,0,0.6);
    color: #fff;
}
#port .wrap .nav{
    display: flex;
    width: 100%;
    height: 23%;
}
#port .wrap .nav .prne{
    display: flex;
    flex-direction: column;
}
#port .wrap .nav .prne button{
    width: 100px;
    height: 50%;
}
#port .wrap .nav .prne .prev{
    background: rgba(0,0,0,0.2) url(../images/before.png) no-repeat center;
}
#port .wrap .nav .prne .next{
    background: rgba(0,0,0,0.2) url(../images/next.png) no-repeat center;
}
#port .wrap .nav .list{
    background: rgba(0,0,0,0.6);
    width: 1300px;
    padding: 70px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#port .wrap .nav .list:before{
    background: linear-gradient( to right, rgba(47,47,47,0) 30%, rgba(47,47,47,1) 80%);
    position: absolute;
    left: 100px;
    content: '';
    width: calc(100% - 100px);
    height: 23%;
    z-index: 2;
}
#port .wrap .nav .list ul{
    display: flex;
    position: relative;
    left: 0;
}
#port .wrap .nav .list ul li{
    color: #fff;
    display: flex;
    margin-right: 70px;
}
#port .wrap .nav .list ul li span{
    font-weight: bold;
    font-size: 18px;
}
#port .wrap .nav .list ul li div{
    padding-left: 20px;
}
#port .wrap .nav .list ul li div p{
    font-weight: normal;
}