/* web font */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
 font-family:'Noto Sans KR', sans-serif;
}

/* reset */
*{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    color:inherit;
}
img{
    vertical-align:top;
}

/* common */
body{
    font-family:'Noto Sans KR';
    font-size:16px;
    color:#333;
}
.wrap{
    width:1400px;
    margin:0 auto;
    position:relative;
}

/* header */
header{
    border-bottom:1px solid #ddd;
    height:70px;
}
header h1{
    /* background:#fcf; */
    padding-top:23px;
    text-align:center;
}
header ul{
    /* background:#ffc; */
    text-transform:uppercase;
    position:absolute;
    top:24px;
}
header .left{
    left:0;
}
header .right{
    right: 24px;
}
header ul:after{
    content:'';
    clear:both;
    display:block;
}
header ul li{
    float:left;
    margin-right:30px;
}
header button{
    font-size:26px;
    border:none;
    background:none;
    cursor:pointer;
    position:absolute;
    right:0;
    top:24px;
}