/* 모바일용 */
@media (max-width:800px) {
    .pc{
        display: none !important;
    }

    /* header */
    header{
        width: 100%;
        height: 70px;
        padding: 0 15px;
    }
    header .wrap h1 a img{
        width: 185px;
    }
    header .wrap .snb{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    header .wrap .snb .sel{
        position: relative;
    }
    header .wrap .snb .sel select{
        display: none;
    }
    header .wrap .snb .sel ul{
        position: absolute;
        top: 30px;
        width: 100%;
        border: 1px solid #eee;
        border-radius: 5px;
        opacity: 0;
        display: none;
    }
    header .wrap .snb .sel ul li a{
        line-height: 50px;
        font-size: 18px;
        font-weight: 400;
        display: block;
        background: #fff;
        padding-left: 20px;
    }
    header .wrap .snb button{
        margin-left: 20px;
        padding: 0;
    }
    header .wrap .snb .sear_btn{
        width: 24px;
        height: 24px;
    }
    header .wrap .snb .sear{
        width: calc(100% + 30px);
        height: 200px;
        top: 70px;
        left: -15px;
        opacity: 0;
    }
    header .wrap .snb .sear div .form form input{
        width: 320px;
        height: 40px;
        border-radius: 20px;
        padding-left: 20px;
        margin-left: 5px;
    }
    header .wrap .snb .sear div .form form button{
        position: absolute;
        top: 5px;
        right: 20px;
        width: 30px;
        height: 30px;
    }
    header .wrap .snb .sear div .form .close{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    header .wrap .snb .sear div .tag{
        margin-top: 10px;
        margin-right: 40px;
    }
    header .wrap .snb .sear div .tag a{
        font-size: 12px;
    }
    header .wrap .snb .sns_btn{
        width: 20px;
        height: 20px;
    }
    header .wrap .snb .sns{
        position: absolute;
        top: 70px;
        right: 35px;
        opacity: 0;
    }
    header .wrap .snb .sns a{
        width: 50px;
        height: 40px;
    }
    header .wrap .snb .sns a img{
        width: 20px;
        height: 20px;
    }
    header .wrap .snb .menu_btn{
        background: url(../images/menu.png) no-repeat center/cover;
        width: 30px;
        height: 30px;
        position: relative;
        right: -4px;
    }
}

/* PC용 */
@media (min-width:801px) {
    .mob{
        display: none !important;
    }
}