/* web font */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    vertical-align: top;
}

/* common */
body{
    font-family: 'Noto Sans KR';
}
.wrap{
    width: 72.91666666666667%;
    margin: 0 auto;
    position: relative;
}
.wrap:after, ul:after, .cl:after{
    content: '';
    clear: both;
    display: block;
}
.blind{
    width: 0;
    height: 0;
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
}

/* header & footer */
.skip{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.skip a{
    opacity: 0;
}
.skip a:focus{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 100%;
    background: #272d34;
    border-bottom: 2px solid #00ffff;
    padding: 10px 0 20px;
    opacity: 1;
}
header{
    background: url(../images/bg_season.png) no-repeat left top;
}
header .up{
    border-bottom: 1px solid #ddd;
}
header .up .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
}
header .up .wrap:after{
    display: none;
}
header .up .wrap .text img{
    padding-top: 5px;
}
header .up .wrap .text p{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #4f6282;
    letter-spacing: -1px;
}
header .up .wrap .center a{
    margin-right: 18px;
}
header .up .wrap .center .search{
    display: inline-block;
    width: 340px;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 20px;
    text-align: center;
}
header .up .wrap .center .search select{
    border: none;
    height: 38px;
    color: #666;
    font-weight: bold;
    font-size: 14px;
    appearance: none;
    background: url(../images/ico_arr.png) no-repeat right center;
    padding-right: 20px;
}
header .up .wrap .center .search input{
    padding: 0 18px;
    border: none;
}
header .up .wrap .center .search input::placeholder{
    font-size: 14px;
    font-weight: bold;
    color: #aaa;
}
header .up .wrap .center .search button{
    border: none;
    background: #fff;
    position: relative;
    top: -3px;
}
header .up .wrap nav ul{
    float: left;
}
header .up .wrap nav .snb{
    margin-right: 20px;
    padding-top: 4px;
}
header .up .wrap nav .snb li{
    float: left;
    font-size: 13px;
    color: #777;
    font-weight: 500;
}
header .up .wrap nav .snb li:after{
    content: '|';
    margin: 0 8px 0 6px;
    font-size: 10px;
    font-weight: 100;
    position: relative;
    top: -2px;
}
header .up .wrap nav .snb li:last-child:after{
    display: none;
}
header .up .wrap nav .snb li a img{
    padding-top: 3px;
    margin-right: 5px;
}
header .up .wrap nav .sns li{
    float: left;
    margin-right: 9px;
}
header .up .wrap nav .sns li:last-child{
    margin-right: 0;
}
header .down .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
}
header .down .wrap:after{
    display: none;
}
header .down .wrap .gnb{
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 100%;
    z-index: 100;
}
header .down .wrap .gnb:after{
    display: none;
}
header .down .wrap .gnb li{
    float: left;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
header .down .wrap .gnb li a{
    display: block;
    line-height: 86px;
}
header .down .wrap .gnb li a:hover{
    color: #184997;
}
header .down .wrap .gnb li .depth1{
    background: #184997;
    width: calc(100% + 520px);
    position: absolute;
    left: -260px;
    top: 86px;
    display: flex;
    flex-flow: wrap;
    padding: 0 240px 100px;
}
header .down .wrap .gnb li .depth1 li{
    color: #fff;
    width: 20%;
    font-size: 15px;
    float: none;
    padding: 0 20px;
    text-align: left;
}
header .down .wrap .gnb li .depth1 li a{
    border: 1px solid #7693c2;
    width: 100%;
    padding-left: 10px;
    line-height: 55px;
    font-weight: 500;
    margin: 40px 0 10px;
    color: #fff;
}
header .down .wrap .gnb li .depth1 li ul li{
    width: 100%;
    padding: 0;
}
header .down .wrap .gnb li .depth1 li ul li a{
    border: none;
    padding: 0;
    font-weight: 300;
    line-height: 35px;
    margin: 0;
    display: inline;
}
header .down .wrap .gnb li .depth1 li ul li:before{
    content: '-';
    font-weight: 300;
}
header .down .wrap .gnb li .depth1 li ul li a:hover{
    text-decoration: underline;
}
header .down .wrap .gnb li .depth1 li ul li img{
    margin-top: 12px;
}
header .down .wrap .button .site:link, header .down .wrap .button .site:visited{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    display: inline-block;
    transition: 0.3s;
    margin-top: 8px;
    background: #ecf1f4 url(../images/sitemap.png) no-repeat center;
}
header .down .wrap .button .site:hover, header .down .wrap .button .site:active, header .down .wrap .button .site:focus{
    background: #325baf url(../images/sitemap_on.png) no-repeat center;
    color: #fff;
}

/* index */
#main{
    background: url(../images/bg_01.jpg) no-repeat center;
    padding: 50px 0;
}
#main .wrap{
    display: flex;
    justify-content: space-between;
}
#main .wrap .slide{
    margin-right: 2.5%;
    position: relative;
    width: 58%;
    overflow: hidden;
}
#main .wrap .slide ul{
    position: absolute;
    width: 200%;
}
#main .wrap .slide ul li{
    float: left;
    width: 50%;
    height: 410px;
}
#main .wrap .slide ul li img{
    width: 100%;
    height: 100%;
}
#main .wrap .slide .btn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.8);
    padding: 0 25px;
}
#main .wrap .slide .btn .prev{
    background: url(../images/prev_arr.png) no-repeat center;
    width: 34px;
    height: 13px;
}
#main .wrap .slide .btn .num p{
    float: left;
}
#main .wrap .slide .btn .num .left{
    font-size: 16px;
    color: #fff;
}
#main .wrap .slide .btn .num .right{
    font-size: 12px;
    color: #aaa;
    padding-top: 5px;
}
#main .wrap .slide .btn .stop{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #000 url(../images/stop_btn.png) no-repeat center;
}
#main .wrap .slide .btn .next{
    background: url(../images/next_arr.png) no-repeat center;
    width: 34px;
    height: 13px;
}
#main .wrap .cont{
    width: 27%;
    margin-right: 2.5%;
    padding: 20px;
    background: #fff;
}
#main .wrap .cont .img a{
    position: relative;
    display: block;
    width: 100%;
}
#main .wrap .cont .img a img{
    width: 100%;
}
#main .wrap .cont .img a p{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 14px 20px;
    letter-spacing: -1px;
}
#main .wrap .cont .text{
    margin-top: 20px;
}
#main .wrap .cont .text a:before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #ccc;
    margin-right: 7px;
    position: relative;
    top: -4px;
}
#main .wrap .cont .text a{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    color: #333;
}
#main .wrap .fact{
    width: 10%;
    background: #fff;
    padding: 0 20px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}
#main .wrap .fact:before{
    content: '';
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: block;
    background: #3d6db7;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: -1;
    opacity: 0.8;
}
#main .wrap .fact:after{
    content: '';
    width: 200%;
    height: calc(100% - 20px);
    display: block;
    background: #3e67a5;
    position: absolute;
    right: 10px;
    top: -100px;
    transform: rotate(45deg);
    z-index: -2;
}
#main .wrap .fact a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 70px;
}
#main .wrap .fact a .hash{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #a0c0e7 url(../images/banner_hash.png) no-repeat center;
    margin: 0 auto;
}
#main .wrap .fact a img{
    width: 100%;
    margin-top: 10px;
}
#main .wrap .fact a p{
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
#main .wrap .fact a .next{
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background: #00337f url(../images/more_arr_02.png) no-repeat center;
    margin: 20px auto 0;
}