/* web font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: top;
}

/* common */
body{
    font-family: 'Noto Sans KR';
    font-size: 14px;
    color: #666;
}
.wrap{
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.wrap:after, ul:after, .cl:after{
    content: '';
    clear: both;
    display: block;
}
.blind{
    position: absolute;
    left: -9999px;
    font-size: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* header & footer */
header{
    width: 1200px;
    background: #fff;
    /* margin: 0 auto; */
    position: absolute;
    top: 0;
    left: calc(50% - 600px);
    z-index: 99;
}
header .wrap{
    /* background: #ffc; */
    height: 80px;
}
header h1{
    padding-top: 22px;
}
header ul{
    position: absolute;
    right: 0;
    top: 30px;
}
header ul li{
    float: left;
    /* background: #cff; */
    margin: 0 35px;
    font-size: 16px;
    font-weight: 600;
    color: #111;
}

footer{
    background: #ffc;
}
footer ul li{
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    line-height: 50px;
    float: left;
}
footer .go{
    width: 250px;
    line-height: 50px;
    background: #8292a2;
    color: #fff;
    text-align: center;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
}
footer .go span{
    margin-left: 40px;
}
footer .line{
    border-top: 1px solid #ddd;
    width: 1200px;
    margin: 0 auto;
}
footer .line address{
    font-style: normal;
    line-height: 1.6;
    padding: 10px 0;
}

/* index */
#main{
    background: url(../images/visual.jpg) no-repeat center/cover;
    height: 600px;
}
#main p{
    padding-top: 220px;
    font-size: 44px;
    line-height: 1.2;
    color: #111;
    font-weight: 500;
    padding-left: 30px;
}
#main strong{
    font-weight: 700;
    font-size: 44px;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    padding-left: 30px;
}

#cont{
    padding: 50px 0 30px;
}
#cont .bnr{
    /* background: #ffc; */
}
#cont .bnr > div{
    background: #fff;
    width: 484px;
    height: 484px;
}
#cont .bnr > div:first-child{
    float: left;
}
#cont .bnr > div:first-child article{
    width: 236px;
    height: 236px;
    border: 1px solid #ddd;
    position: relative;
    float: left;
}
#cont .bnr > div:first-child article:nth-child(1){
    margin-right: 12px;
    background: url(../images/pos.jpg) no-repeat right bottom;
}
#cont .bnr > div:first-child article:nth-child(2){
    background: url(../images/pad.jpg) no-repeat right bottom;
}
#cont .bnr > div:first-child article:nth-child(3){
    margin-top: 12px;
    width: 100%;
    background: url(../images/com.jpg) no-repeat right bottom;
}
#cont .bnr > div:first-child article a{
    display: block;
    /* background: #cff; */
    padding: 30px 0 0 30px;
    height: 100%;
}
#cont .bnr > div:first-child article h3{
    font-size: 20px;
    font-weight: 600;
    color: #111;
}
#cont .bnr > div:first-child article p{
    margin-top: 10px;
    font-weight: 500;
}
#cont .bnr > div:first-child article img{
    position: absolute;
    left: 30px;
    top: 140px;
}
#cont .bnr > div:last-child{
    float: right;
    background: url(../images/tab.jpg) no-repeat center/cover;
}
#cont .bnr > div:last-child article{
    background: #687aa2;
    color: #fff;
    width: 236px;
    height: 236px;
    position: relative;
}
#cont .bnr > div:last-child article a{
    display: block;
    height: 100%;
    padding: 30px 0 0 30px;
}
#cont .bnr > div:last-child article h3{
    font-size: 20px;
    font-weight: 600;
}
#cont .bnr > div:last-child article p{
    margin-top: 10px;
    font-weight: 500;
}
#cont .bnr > div:last-child article img{
    position: absolute;
    left: 30px;
    top: 140px;
}
#cont .info{
    margin-top: 12px;
}
#cont .info article{
    width: 50%;
    border: 1px solid #ddd;
    border-right: none;
    float: left;
    background: #f9fafc;
    padding: 25px 20px;
}
#cont .info article:last-child{
    border-right: 1px solid #ddd;
}
#cont .info article h3{
    color: #7f8d9a;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding-right: 70px;
    margin-bottom: 10px;
}
#cont .info article div a{
    font-size: 24px;
    font-weight: 600;
    color: #111;
}
#cont .info article div b{
    font-size: 18px;
    color: #111;
    font-weight: 600;
    margin-left: 6px;
}
#cont .info article div span{
    margin-left: 6px;
}